In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [12]:
from io import StringIO
import pandas as pd
import requests

r = requests.get('https://www.caiso.com/outlook/SP/History/20190301/netdemand.csv')
df = pd.read_csv(StringIO(r.text))
df = df.T
label = 'Net Demand 03/01/2019'
df.rename(columns={label: ' '}, inplace=True)
df.rename(index={'Net demand': label}, inplace=True)
df = df.drop(['Hour ahead forecast', 'Current demand'])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,279,280,281,282,283,284,285,286,287,288
Time,00:00,00:05,00:10,00:15,00:20,00:25,00:30,00:35,00:40,00:45,...,23:15,23:20,23:25,23:30,23:35,23:40,23:45,23:50,23:55,00:00
Net Demand 03/01/2019,18085.0,17930.0,17982.0,17854.0,17777.0,17647.0,17574.0,17505.0,17486.0,17372.0,...,20941.0,20797.0,20673.0,20566.0,20398.0,20272.0,20165.0,20049.0,19972.0,NaN

In [6]:
from io import StringIO
import pandas as pd
import requests
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm

r = requests.get('https://www.caiso.com/outlook/SP/History/20210401/netdemand.csv')
df = pd.read_csv(StringIO(r.text))
df = df.T
label = 'Net Demand 04/01/2021'
df.rename(columns={label: ' '}, inplace=True)
df.rename(index={'Net demand': label}, inplace=True)
df = df.drop(['Hour ahead forecast', 'Current demand'])

dfs = [df]

for i in tqdm(range(2, 31)):
    if i < 10:
        r = requests.get('https://www.caiso.com/outlook/SP/History/2021040' + str(i) + '/netdemand.csv')
        df = pd.read_csv(StringIO(r.text))
        df = df.T
        label = 'Net Demand 04/0' + str(i) + '/2021'
    else:
        r = requests.get('https://www.caiso.com/outlook/SP/History/202104' + str(i) + '/netdemand.csv')
        df = pd.read_csv(StringIO(r.text))
        df = df.T
        label = 'Net Demand 04/' + str(i) + '/2021'
    df.rename(columns={label: ' '}, inplace=True)
    df.rename(index={'Net demand': label}, inplace=True)
    df = df.drop(['Time', 'Hour ahead forecast', 'Current demand'])
    dfs.append(df)

df_load = pd.concat(dfs)
df_load.to_csv('CAISO-netdemand-2021-04.csv')
df_load.head()

100%|██████████| 29/29 [00:10<00:00,  2.83it/s]

,0,1,2,3,4,5,6,7,8,9,...,279,280,281,282,283,284,285,286,287,288
Time,00:00,00:05,00:10,00:15,00:20,00:25,00:30,00:35,00:40,00:45,...,23:15,23:20,23:25,23:30,23:35,23:40,23:45,23:50,23:55,00:00
Net Demand 04/01/2021,21128.0,21024.0,20921.0,20897.0,20811.0,20769.0,20703.0,20571.0,20441.0,20368.0,...,21253.0,21160.0,21076.0,21009.0,20834.0,20679.0,20531.0,20394.0,20273.0,NaN
Net Demand 04/02/2021,20154.0,20044.0,19956.0,19821.0,19627.0,19496.0,19470.0,19424.0,19439.0,19382.0,...,18886.0,18764.0,18801.0,18752.0,18704.0,18645.0,18611.0,18562.0,18561.0,NaN
Net Demand 04/03/2021,18497.0,18392.0,18308.0,18237.0,18218.0,18114.0,18016.0,17935.0,17903.0,17791.0,...,18024.0,17918.0,17898.0,17781.0,17692.0,17628.0,17505.0,17408.0,17258.0,NaN
Net Demand 04/04/2021,17137.0,17004.0,16960.0,16831.0,16675.0,16557.0,16459.0,16398.0,16340.0,16223.0,...,16374.0,16198.0,16050.0,15947.0,15769.0,15573.0,15434.0,15286.0,15250.0,NaN

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

dfs = []

for i in range(1, 32):
    if i < 10:
        df = pd.read_csv('data/CAISO-netdemand-2019030%d.csv' % i, on_bad_lines='skip')
        label = 'Net Demand 05/0' + str(i) + '/2021'
    else:
        df = pd.read_csv('data/CAISO-netdemand-201903%d.csv' % i, on_bad_lines='skip')
        label = 'Net Demand 05/' + str(i) + '/2021'
    df.rename(columns={label: ' '}, inplace=True)
    df.iloc[1, 0] = label
    df.drop([0], inplace=True)
    dfs.append(df)

df_load = pd.concat(dfs)
df_load.to_csv('CAISO-netdemand-2021-05.csv')
df_load.head()

,,00:00,00:05,00:10,00:15,00:20,00:25,00:30,00:35,00:40,...,9:15,9:20,9:25,9:30,9:35,9:40,9:45,9:50,9:55,0:00.1
1,Net Demand 05/01/2021,23656.0,23599.0,23552.0,23327.0,23216.0,23111.0,22980.0,22865.0,22731.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Net Demand 05/02/2021,21605.0,21606.0,21553.0,21438.0,21368.0,21279.0,21180.0,21110.0,21066.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Net Demand 05/03/2021,20875.0,20944.0,20890.0,20792.0,20711.0,20629.0,20563.0,20529.0,20446.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Net Demand 05/04/2021,23020.0,22899.0,22901.0,22784.0,22681.0,22564.0,22497.0,22391.0,22279.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Net Demand 05/05/2021,23708.0,23599.0,23599.0,23522.0,23392.0,23296.0,23178.0,23094.0,22985.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN